<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes" thread-count="1"
          name="parallel test">
        <classes>

                    <class name="com.demoqa.tests.US01_TextBox_Test"/>
                    <class name="com.demoqa.tests.US09_PracticeForm_Test"/>
<!--                    <class name="com.demoqa.tests.US023_SelectMenu_Test"/>-->
<!--                    <class name="com.demoqa.tests.US30_BookStoreMenu_Test"/>-->

        </classes>
    </test>
</suite>