<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes" thread-count="2"
          name="parallel test">
        <classes>

                    <class name="com/demoqa/tests/US01_TextBox_Test.java"/>
                    <class name="com/demoqa/tests/US02_Check_Box_Test.java"/>
        </classes>
    </test>
</suite>